<div *ngIf="imagens && imagens.length > 0" class="carousel-container">
    <img *ngFor="let imagens of imagens; let i=index " 
     [src]="imagens.imageSrc" [alt]="imagens.imageAlt"
     [ngClass]="{'imagens-active' : selectedIndex === i}"
     class="fade"
     >
     <form class="form-horizontal" [formGroup] = "carouselForm">
      <div class="form-group">
         <label for="cupom" class="control-label">cupom</label>
      </div>
     </form>
     <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of imagens; let i=index" 
                class="dot"
                [ngClass]="{'active': selectedIndex === i}"
                (click)="selectImagens(i)"
                >

        </span>
     </div>

     <button *ngIf="controls" class="btn-carousel btn-prev"  (click)="onPrevClick()">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev">
        </i>               
     </button>

     <button *ngIf="controls" class="btn-carousel btn-next"  (click)="onNextClick()">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next">
        </i>               
     </button>
</div>

