.conteudo-Login{

    justify-content: center ;
    align-items: center;
    height: 180px;
    
   
    .conteudo-Forms{
       border-radius: 10px;
       background-color: rgb(101 163 13);
       
       text-align: center;
       width: 300px;
       height: 80px;
       transition: all 0.6s ease-in-out;
    }
    
    .conteudo-Forms:hover{
       box-shadow: 30px 30px 30px rgb(3, 111, 3);
       
    }
    
   }
   
   .input-Login
   {
       background-color:#742fb9;
       
       border: none;
       padding: 15px 0px;
       margin-top: 50px;
       text-align: center;
       text-transform: uppercase;
       font-size: 20px;
        transition: all 0.3s ease-in-out;
       border-radius: 5px 5px 5px 5px;
       width: 50%;
       font-family: Arial, Helvetica, sans-serif;
       
       color:rgba(56,186,43) ;
       height: 50px;
      
   
       
   }
   
   .mensagem-erro{
       font-size: 30px;
       color: #8d0b0d;
       font-family:Arial;
       justify-content: center ;
    align-items: center;
   }
   
   .input-submit{
       background-color:rgb(50, 0, 104);
       border: none;
       color: rgba(56,186,43);
       padding: 15px 0px;
       margin-top: 55px;
       text-align: center;
       font-size: 35px;
        transition: all 0.3s ease-in-out;
       border-radius: 5px 5px 5px 5px;
       width: 35%;
       font-family:Arial, Helvetica, sans-serif;
       cursor: pointer; 
      
   
   }
   .logo{
      background-color: rgb(50, 0, 104);
      width: 100%;
      text-align: center;
      height: 220px;
      font-size: 140px;
      font-family: 'Lucida Sans Unicode';
      background-color:rgb(50, 0, 104);
       padding: 15px 0px;
       text-align: center;
       text-transform: uppercase;
        
   }
   
   .back-image{
       font-family: Arial, Helvetica, sans-serif;
       color: rgba(56,186,43);
       background-color: rgb(97, 26, 190);
       width: 100%;
       text-align: center;
       height: 990px;
   }
